.header {
  display: flex;
  justify-content: space-between;
  height: 61px;
}

.left,
.right {
  display: flex;
  gap: 40px;
  align-items: center;
}

.title {
  font-weight: 500;
  line-height: 90%;
  letter-spacing: 0%;
  text-transform: uppercase;
  background-color: #cb81ff;
  padding-top: 4.77px;
  padding-right: 6.37px;
  padding-bottom: 6.37px;
  padding-left: 6.37px;
}
