:root {
  --bg: #fce2ff;
  --color: #201b10;
  --font-size: 30px;
  --radius-sm: 10px;
  --radius-md: 25px;
  --radius-lg: 40px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg);
  color: var(--color);
  padding: 40px;
  font-family: Roboto;
}

body,
button {
  font-size: var(--font-size);
}

a {
  color: var(--color);
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
  background: transparent;
}
